.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;

  a {
    color: $light-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $hover-color;
      transform: scale(1.1);
    }

    svg {
      width: 24px;
      height: 24px;

      use {
        fill: currentColor;
      }
    }
  }
}
